*{
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    display: flex;
}

.sidebar{
    margin-left: 10%;
    background-color: rgb(0, 88, 252) !important;
    border:  1px solid black;
    padding: 15px;
    margin-top: 5%;
    height: 20%;
}

#filtros {
    border: 1px solid black;
    margin-top: 15px;
}
.apartamentos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
    margin-top: 5%;
    margin-right: 50px;
    background-color: rgb(0, 0, 255);
    width: 1200px;
}

.apartamento {
    display: flex;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
    padding: 25px;
}



.nomImg{
    display: flex;
    gap: 15px;
    background-color: black;
}
.imgApt {
    width: 150px;
    height: 150px;
}
.detalles {
    display: flex;
    justify-content: center;
    text-align: justify;
    background-color: white;
}

.detalles h5 {
    margin: 20px;
}

.valoracion {
    background-color: #1E88E5;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.detalles p {
    font-size: 5px !important;
}