*{
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    display: flex;
}

.sidebar{
    margin-left: 10%;
    background-color: rgb(206, 206, 206) !important;
    border:  1px solid black;
    padding: 15px;
    margin-top: 5%;
    height: 20%;
    border-radius: 15px;
}

#filtros {
    border: 1px solid black;
    margin-top: 15px;
}
.apartamentos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
    margin-top: 5%;
    margin-right: 50px;
    width: 1200px;
}

.apartamento {
    display: flex;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
    padding: 25px;
}


.nomImg{
    display: flex;
    gap: 15px;
    text-align: right;
}

h4 a {
    text-decoration: none;
    color: black;
}

h4 a:hover {
    color: #1E88E5; 
}
.titVal {
    display: flex;
    justify-content: space-between;
}
.imgApt {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}
.detalles {
    display: flex;
    justify-content: center;
    text-align: justify;
}

.detalles h5 {
    margin: 20px;
}

.valoracion {
    background-color: #1E88E5;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.nuevo {
    background-color: #FF7043;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.detalles p {
    font-size: 14px !important;
}