.anfitrion-hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('./img/interior-anfitrion.jpg') center/cover;
    height: 70vh;
    border-radius: 0 0 50px 50px;
}

.form-range::-webkit-slider-thumb {
    background: #ff385c;
}

.text-danger {
    color: #ff385c !important;
}

.btn-danger {
    background-color: #ff385c;
    border: none;
}

.rounded-4 {
    border-radius: 1.5rem !important;
}