*{
    box-sizing: border-box;
    margin: 0;
}

.contenedor {
    margin-top: 150px;
}
.contenedorAcor {
    margin: 0 auto;
    max-width: 1200px;    
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.accordion-item{
    border: 1px solid black;
}